/target
/gpu_info/.vscode/launch.json
/gpu_info/.vscode/tasks.json
/.idea
### VisualStudioCode template
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

# NVML local test files
gpu_info/nvml.def
gpu_info/exports.txt
gpu_info/nvml.exp
gpu_info/nvml.lib
gpu_info/.vscode
gpu_info/.idea
system_info_lib/.idea
system_info_lib/.vscode
target
.idea
gpu_info/TASK.md
